.counter {
    max-width: 570px;
    width: 100%;
}

.counter-tablo {
    position: relative;
}

.counter-tablo__number {
    font-size: 46px;
    font-weight: 600;
}

.counter-tablo__number--active {
    color: #c91307;
    transition: color 0.4s;
}

.counter-tablo__text {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}

