.remained {
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 50%;
    align-items: center;
    transform: translateX(-50%);
}

.remained__text {
    margin-right: 10px;
}

.remained__button {
    padding: 8px 16px;
}