.settings {
    margin-right: 20px;
    max-width: 570px;
    width: 100%;
}

.settings__items {
    display: flex;
    flex-direction: column;
    max-width: 445px;
    width: 100%;
}

.settings__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings__item:not(:last-child) {
    margin-bottom: 20px;
}

.settings__label {
    margin-right: 20px;
}