.settings {
    margin-right: 20px;
    max-width: 570px;
    width: 100%;
}

.settings__items {
    display: flex;
    flex-direction: column;
    max-width: 445px;
    width: 100%;
}

.settings__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings__content {
    position: relative;
}

.settings__content:not(:last-child) {
    margin-bottom: 25px;
}

.settings__label {
    margin-right: 16px;
    cursor: pointer;
    position: relative;
}

.settings__field {
    max-width: 270px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.settings__input {
    text-align: center;
    padding: 0 30px;
    width: 100%;
}

.settings__error {
    color: #c91307;
    font-size: 14px;
    position: absolute;
    right: 0;
    bottom: -20px;
}

.settings__button {
    position: absolute;
    padding: 6px;
    line-height: 1;
    width: 40px;
    min-height: 40px;
    top: 0;
    bottom: 0;
    box-shadow: none;
}

.settings__button:hover {
    background-color: #005F6B;
    color: #ffffff;
    transform: translate(0);
}

.settings__button--minus {
    left: 0;
}

.settings__button--plus {
    right: 0;
}

.settings__input {
    -moz-appearance: textfield;
}

.settings__input::-webkit-inner-spin-button {
    display: none;
}

@media(max-width: 1200px) {
    .settings {
        margin-right: 0;
        margin-bottom: 40px;
    }
}

@media(max-width: 580px) {
    .settings__item {
        flex-direction: column;
    }

    .settings__label {
        margin-right: 0;
        margin-bottom: 8px;
    }

    .settings__content:not(:last-child) {
        margin-bottom: 20px;
    }
}