.settings {
    margin-right: 20px;
    max-width: 570px;
    width: 100%;
}

.settings__items {
    display: flex;
    flex-direction: column;
    max-width: 445px;
    width: 100%;
}

.settings__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings__content {
    position: relative;
}

.settings__content:not(:last-child) {
    margin-bottom: 25px;
}

.settings__label {
    margin-right: 16px;
    cursor: pointer;
    position: relative;
}

.settings__field {
    max-width: 270px;
    width: 100%;
}

.settings__error {
    color: #ea0038;
    font-size: 14px;
    position: absolute;
    right: 0;
    bottom: -20px;
}